$licorice       : #150811; 
$purple         : #731955;
$darkPurple     : #26081C;
$lightPurple    : #af5290;
$violet         : #380036; 
$darkVerdigris  : #076a6a; 
$verdigris      : #0CBABA; 
$darkCyan       : #02556c;
$cyan           : #01BAEF;
$white          : #ebebeb;